<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Старая Гута</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="icon" href="http://vignette2.wikia.nocookie.net/herebemonsters/images/0/01/Campfire.png/revision/latest?cb=20130906084923" type="image/icon">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
		<link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" ></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

		{% block extra_js %}
		{% endblock %}
	</head>
    <body>
    <div class="container">
        <div class="header ">
            <nav>
                {% include 'main_menu.html' %}
                <!-- !!! Do not remove this for main menu {{ active_page }} -->
            </nav>
            <h3 class="text-muted">Старая Гута</h3>
            <h5 class="text-muted">Богородчанский р-н<br/>
                                   Ивано-Франковская обл.
            </h5>
        </div>

        <div class="row marketing">
            {% block content %}
            {% endblock %}
        </div>

        <footer class="footer">
            <p>&copy; Panchenko Anastasia</p>
        </footer>

    </div> <!-- /container -->

    </body>
</html>
