{% extends 'base.html' %}
{% set active_page = "contact" %}

{% block extra_js %}
    <script src="https://www.google.com/recaptcha/api.js?hl=ru" async defer></script>
{% endblock %}

{% block content %}

{% if messages.errors %}
    <div class="alert alert-danger" role="alert">
        {% for message in messages.errors %}
        {{ message }}<br/>
        {% endfor %}
    </div>
{% endif %}


<form role="form" data-toggle="validator" method="POST" action="">
    <a name="question" class="no-link"><h3>Задать вопрос:</h3></a>
    {{ form.csrf_token }}
    <div class="form-group clearfix">
        <div class="row">
            <label class="col-sm-2 control-label" for="name">Имя</label>
        </div>
        <div class="row">
            <div class="col-sm-5">
                {{ form.name(class='form-control', required='required', placeholder='Name') }}
            </div>
        </div>
    </div>
    <div class="form-group clearfix">
        <div class="row">
            <label class="col-sm-2 control-label" for="email">{{ form.email.label }}</label>
        </div>
        <div class="row">
            <div class="col-sm-5">
                {{ form.email(class='input-small form-control', required='required', placeholder='Email') }}
            </div>
        </div>
    </div>
    <div class="form-group clearfix">
        <div class="row">
            <label class="col-sm-4 control-label" for="body">Текст сообщения</label>
        </div>
        <div class="row">
            <div class="col-sm-5">
                {{ form.body(cols="42", rows="10", class='form-control', required='required') }}
            </div>
        </div>
    </div>
    <div class="form-group clearfix">
        <div class="row">
            <div class="g-recaptcha col-sm-3" data-sitekey="6LcWeA8TAAAAAMFXTJ5-2aYmeG07VoM59PbmlJB_"></div>
        </div>
    </div>
    <div class="form-group clearfix">
        <button class="btn btn-success" type="submit">Отправить</button>
    </div>
</form>

{% endblock %}
