{% extends 'base.html' %}
{% set active_page = "index" %}
{% block content %}
    <img src="{{ url_for('static', filename='img/main.jpg') }}" style="max-width:100%;max-height:100%;">
    <h4>О сайте</h4>
    <p>Цель этого сайта - дать возможность бОльшему количеству людей узнать об одном из самых прекрасных сел в Карпатах - Старой Гуте.</p>
    <p>Туризм в этих местах развивается медленно и только благодаря энтузиазму местных жителей.</p>
    <p>Я была в Гуте несколько раз, и каждый раз я влюбляюсь в нее заново, удивляясь как мало людней знают об этом месте и как сложно найти информауию о том как добраться и снять там жилье.</p>
    <p>В этом особенность этого места, мало кто знает о нем, поэтому в отличие от Яремче и других подобных городов, Гута остается очень тихой и спокойной, иногда даже загадочной.</p>
    <p>Если интересно узнать что находится</p>



{% endblock %}
