{% extends 'base.html' %}
{% set active_page = "contact" %}

{% block content %}
    <div class="alert alert-success" role="alert">
        Спасибо за Ваш вопрос! В течение нескольких минут Вам на почту должно прийти письмо с подтверждением об отправке Вашего вопроса.
    </div>
    <div class="alert alert-warning" role="alert">
        Если Вы не получили письмо, скорее всего Вы неправильно указали Ваш email адрес. В таком случае задайте пожалуйста Ваш вопрос еще раз перейдя по <a href="{{ url_for('contact') }}">этой ссылке</a>.
    </div>
    <div><a href="{{ url_for('main') }}">Перейти на главную ></a></div>



{% endblock %}