{% extends 'base.html' %}
{% set active_page = "route" %}

{% block extra_js %}

    <style>
        #map {
            width: 100%;
            height: 400px;
        }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?language=ru"></script>

    <script src="{{ url_for('static', filename='js/google_map.js') }}"></script>

{% endblock %}

{% block content %}

    <div id="map"></div>
    <a href="https://goo.gl/maps/QtJGANxPJho" target="_blank">Показать карту в отдельной вкладке</a>
    <h4>Из Киева общественым транспортом:</h4>
    <ul>
        <li>поезд <i>Киев - Ивано-Франковск</i> (билеты можно посмотреть и купить здесь: <a href="http://booking.uz.gov.ua/">http://booking.uz.gov.ua/</a>)</li>
        <li>от ж/д вокзала нужно перейти на дорогу на другую сторону и сесть на маршрутку до АС-3 (приблизительные номера автобусов тут: <a href="http://marshrutka.com.ua/searchadv/?city_id=62&from=%D0%B2%D0%BE%D0%BA%D0%B7%D0%B0%D0%BB&to=%D0%90%D0%A1-3&mode_id=0">http://marshrutka.com.ua/searchadv/?city_id=62&from=%D0%B2%D0%BE%D0%BA%D0%B7%D0%B0%D0%BB&to=%D0%90%D0%A1-3&mode_id=0</a>)
        <li>автобус <i>Автостанция АС-3 - Старая Гута</i>: <a href="http://zabytki.in.ua/service/timetable/bus_station/494?lang=ru">http://zabytki.in.ua/service/timetable/bus_station/494?lang=ru</a></li>
    </ul>
    <h4>Из Киева машиной через Ивано-Франковск:</h4>
    <p>Тут нужно быть очень осторожным и правильно выбрать маршрут. Украинские дороги как всегда не радуют.</p>
    <p>Советую взять такой маршрут: (<a href="https://goo.gl/maps/fhcngNDNwqH2" target="_blank">открыть в google maps</a>)</p>
    <ul>
        <li>трасса Киев-Львов, доехать до окружной Львова (<b>трасса Е40</b>)</li>
        <li>свернуть на Бибрку, дальше ехать через Рогатин, Бурштын, Галыч через Ивано-Франковск до Богородчан (<b>трасса Н09</b>)</li>
        <li>после Богородчан взять направление на Дзвыняч, Солотвин, Пороги до с. Старая Гута (<b>трасса Р38</b>)</li>
    </ul>

{% endblock %}